<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>PetShop - Mercado Pet</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/mercadopet.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/glider.css'>
</head>
<body>
    <header class="header">
        <nav class="header-nav">
            <ul class="header-nav-ul">
                <div class="header-nav-ul-div smaller">
                    <li><a href="principal.html">INICIO</a></li>
                    <li><a href="mercadopet.html"><b>MERCADO PET</b></a></li>
                </div>
                <li><a href="index.html"><b>SAIR</b></a></li>
            </ul>
        </nav>
        <nav class="header-nav-icons">
            <ul class="header-nav-icons-ul">
                <div class="header-nav-icons-ul-div">
                    <li><a href="#"><img src="../images/icones/home.svg" alt="Início"></a></li>
                    <li><a href="#"><img src="../images/icones/mercadopet.svg" alt="Mercado Pet"></a></li>
                </div>
                <li><a href="#"><b>SAIR</b></a></li>
            </ul>
        </nav>
    </header>

    <section class="section-one">
        <div class="section-one-title">
            <h3>Categorias Principais</h3>
        </div>
        <div class="section-one-div-imgs">
            <img class="section-one-img" src="../images/elements/racoes.svg" alt="rações">
            <img class="section-one-img"  src="../images/elements/acessorios.svg" alt="acessórios">
            <img class="section-one-img"  src="../images/elements/brinquedos.svg" alt="brinquedos">
        </div>
    </section>

    <section class="section-two">
        <div class="section-two-title">
            <p>Para Filhotes</p>
        </div>
        <div class="section-two-div">
            <div class="glider-contain">
                <div class="glider">
                    <div>
                        <img class="section-two-imgs"src="../images/racoes/r7.svg" alt="Ração">
                    </div>
                    <div>
                        <img class="section-two-imgs"src="../images/racoes/r8.svg" alt="Ração">
                    </div>
                    <div>
                         <img class="section-two-imgs"src="../images/racoes/r9.svg" alt="Ração">
                    </div>
                    <div>
                        <img class="section-two-imgs"src="../images/racoes/r10.svg" alt="Ração">
                    </div>
                    <div>
                        <img class="section-two-imgs"src="../images/racoes/r11.svg" alt="Ração">
                    </div>
                    <div>
                        <img class="section-two-imgs"src="../images/racoes/r12.svg" alt="Ração">
                    </div>
                </div>
                <!-- <div role="tablist" class="dots"></div> -->
            </div>
        </div>
    </section>

    <section class="section-three">
        <div class="section-three-title">
            <p>Para Adultos</p>
        </div>
        <div class="section-three-div">
            <div class="glider-contain">
                <div class="glider2">
                    <div>
                        <img class="section-three-imgs"src="../images/racoes/r7.svg" alt="Ração">
                    </div>
                    <div>
                        <img class="section-three-imgs"src="../images/racoes/r8.svg" alt="Ração">
                    </div>
                    <div>
                         <img class="section-three-imgs"src="../images/racoes/r9.svg" alt="Ração">
                    </div>
                    <div>
                        <img class="section-three-imgs"src="../images/racoes/r10.svg" alt="Ração">
                    </div>
                    <div>
                        <img class="section-three-imgs"src="../images/racoes/r11.svg" alt="Ração">
                    </div>
                    <div>
                        <img class="section-three-imgs"src="../images/racoes/r12.svg" alt="Ração">
                    </div>
                </div>
                <!-- <div role="tablist" class="dots glider-dot"></div> -->
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-div">
            <p class="end smaller ">Desenvolvido por Neemias Renan</p>
            <div class="footer-div-developer-social">
                <p class="end smaller">@neemias.renan</p>
                <img src="../images/icones/instagram.svg" alt="instagram">
            </div>
        </div>  
    </footer>

    
    <script src='../js/glider.min.js'></script>
    <script src='../js/principal.js'></script>

</body>
</html>